<main class="all-products-container">
  <div class="fitler-categories">
    <h1>Categories</h1>
    <select class="filter-select" (change)="filterCategory($event)">
      <option value="all">all</option>
      <option
        class="filter-select-option"
        *ngFor="let category of categories"
        [value]="category"
      >
        {{ category }}
      </option>
    </select>
  </div>
  <div class="products" *ngIf="!isLoading">
    <app-product
      *ngFor="let product of products"
      [productData]="product"
    ></app-product>
  </div>
  <div class="text-center" *ngIf="isLoading">
    <app-spinner></app-spinner>
  </div>
</main>
