<main class="carts-container">
  <form class="range-date" [formGroup]="formDate">
    <section>
      <p>Start date</p>
      <input type="date" formControlName="startDate" />
    </section>
    <section>
      <p>Start date</p>
      <input type="date" formControlName="endDate" />
    </section>
    <button class="cart-body-Apply" (click)="filterCartsByDate()">Apply</button>
  </form>
  <div>
    <table>
      <tr>
        <th>Date</th>
        <th>Quantity</th>
        <th></th>
      </tr>
      <tr *ngFor="let obj of carts; let index = index">
        <td>{{ obj.date | date : "shortDate" }}</td>
        <td>
          {{ obj.products.length }}
        </td>
        <td>
          <button class="cart-body-delete" (click)="deleteCart(obj.id)">
            Delete
          </button>
          <button
            class="cart-body-view"
            [routerLink]="['/carts/cart-details/', obj.id]"
          >
            View
          </button>
        </td>
      </tr>
    </table>
    <div class="flex justify-center">
      <app-spinner *ngIf="isLoading"></app-spinner>
    </div>
  </div>
</main>
