<main class="cart">
  <div class="cart-header" [routerLink]="['/product-details', productData.id]">
    <img [src]="productData.image" [alt]="productData.title" />
    <div>
      <h1>{{ productData.title }}</h1>
    </div>
  </div>
  <div class="cart-body" [routerLink]="['/product-details', productData.id]">
    <p class="cart-body-description">
      {{ productData.description }}
    </p>
  </div>
  <div class="cart-footer">
    <button
      type="button"
      class="btn-1"
      *ngIf="!showAmount"
      (click)="showAmount = true"
    >
      Add
    </button>
    <section class="flex justify-between w-1/2" *ngIf="showAmount">
      <input type="number" class="cart-footer-input" [(ngModel)]="quantity" />
      <button type="button" class="btn-2" (click)="addToCart()">Add</button>
    </section>
    <span>{{ productData.price }} EL</span>
  </div>
</main>
